.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    left: 0%
  &-2
    animation: float1 2.0s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    right: 5%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    left: 40%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 33%;
    

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: $white !important  


.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $white !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important
figcaption, table caption
    font-weight: normal !important
    background-color: #E8E8E8 !important
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
  background-color: $color-acento-botones !important
  border: 0px
.lista-ul--color.color-primario li > i:first-of-type
    color: $color-primario !important;
.acordion__accion__btn--a 
    background-color: $color-acento-botones !important
.tarjeta.bg-color-5.acordion__activo
    background-color: #E6F9E6 !important
.tabs-a__tab
    background-color: $color-acento-contenido
    color: #fff 
.tabs-a.color-acento-botones .tabs-a__tab__selected
    background-color: #FFD500;
    color: $color-sistema-texto;
.slyder-f__btn i 
    background-color: $color-acento-botones
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
.tabla-a th
    background-color: #FFCCE5 !important
.bloque-texto-f.color-acento-contenido:before
    background-color: #CCF2CC !important
.tarjeta--boton.bg-color-12
    background-color: #CCF9FF;
.tarjeta--boton.bg-color-12:active, .tarjeta--boton.bg-color-12:focus, .tarjeta--boton.bg-color-12:hover
    background-color: #CCF2CC 
.tabs-b__tab
    background-color: #E6F9E6;
/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.bg-fondo
  &-1
    background-image: url("../assets/curso/temas/bg/1.svg") !important
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    border-radius: 45px;
  &-2
    background-image: url("../assets/curso/temas/bg/3.svg") !important
    background-position: bottom
  &-3
    background-image: url("../assets/curso/temas/t2/48.svg") !important
    background-position: center
    background-size: cover
    background-repeat: no-repeat
.p-full-width
  padding: 3rem 2.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-color
  &-1
    background-color: #E6F9E6 !important
  &-2
    background-color: #fff
  &-3
    background-color: #FFE6F2
  &-4
    background-color: #E6FCFF
  &-5
    background-color: #CCF9FF
  &-6
    background-color: #ccf9ff
    border-radius: 20px !important
    width: fit-content !important
  &-7
    background-color: #99F2FF
  &-8
    background-color: $color-acento-contenido
  &-9
    background-color: #0AC675
  &-10
    background-color: #9AE59A
    width: fit-content !important
  &-11
    background-color: #F3E6FF
  &-12
    background-color: #CCF2CC
  &-13
    background-color: #fff
    width: fit-content !important
  &-14
    background-color: #CCF2CC
    width: fit-content !important
  &-15
    background-color: $color-primario
    width: fit-content !important
  &-16
    background-color: #9AE59A


.w-fit
  width: fit-content !important
.br
  &-1
    border-radius: 10px !important
  &-2
    border-radius: 10px
    border: 1px #017301 solid
  &-4
    border-radius: 25px !important
  &-5
    border-radius: 5px !important
.ml-cus
  &-1
    margin-left: 30px !important
      
.hcard
  &-1
    height: 750px !important
  &-2
    height: 420px !important
  &-3
    height: 380px !important
  &-4
    height: 960px
  &-5
    height: 360px !important
.wcus
  &-1
    width: 30% !important
  &-2
    width: 42% !important    
  &-3
    width: 15%
  &-4
    width: 6%
  &-5
    width: 20%
  &-6
    width: 15%
.pcus
  &-1
    padding-top: 3rem !important;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  &-2
    padding-left: 4rem !important;
  &-4
    padding-top: 1rem !important;
  &-5
    padding-right: 3rem !important;
    padding-left: 3rem !important;
.text-left
  text-align: left !important

.tit-cus
  &-1
    color: #FFD500 !important
  &-2
    color: $color-sistema-texto !important
.titulo-icono
  background-color: $color-acento-contenido
  border-radius: 30px
  width: fit-content
  position: relative;
  left: 12px;
  &-text
    margin-right: 10px
    margin-left: 50px;
    color: $white
  &-img
    padding: 0px
    position: absolute
    top: -30px


    &:before
      position: relative
      border-bottom-right-radius: 40px
      @media screen and (max-width: 767px)
        height: 280%
    img
      position: relative
      max-width: 50px

.titulo-icono-b
  
  position: relative;
  &-text
    background-color: #E6F9E6
    border-radius: 5px
    margin-right: 10px
    margin-left: 30px;
    padding-left: 3rem
    
  &-img
    padding: 0px
    position: absolute
    top: 18px


    &:before
      position: relative
      border-bottom-right-radius: 40px
      @media screen and (max-width: 767px)
        height: 280%
    img
      position: relative
      max-width: 70px
mn 
  font-family: 'Roboto', sans-serif; 
  font-weight: 900;
  line-height: 1.2;
  color: #12263F;
  font-size: 1rem;
/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  
  
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .slyder-f__btn i 
    width: 40px;
    height: 30px;
    font-size: 1rem;

  .hcard
    &-2, &-4, &-3
      height: auto !important

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

  .titulo-icono, .titulo-icono-b
    left: 0px;
    &-text
      margin-left: 10px;
      padding-left: 10px;
    &-img
      display: none !important
  .pcus
    &-1
      padding-top: 0rem !important;
      padding-right: 0rem !important;
      padding-left: 0rem !important;
    &-2
      padding-left: 0.8rem !important;
    &-3
      padding-right: 1rem !important;
      padding-left: 1rem !important;
    &-4
      padding-top: 0rem !important;
    &-5
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
  .slyder-f__btn i 
    width: 40px;
    height: 30px;
    font-size: 1rem;
  
  .hcard
    &-2, &-4, &-5
      height: auto !important
  .bg-full-width 
    margin-inline: -1.3rem;