.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    left: 0%
  &-3
    animation: float1 2.0s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    right: 5%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    bottom: 10%
    left: 40%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
    width: 33%;
    

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6 
  color: $white !important  


.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $white !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important
figcaption, table caption
    font-weight: normal !important
    background-color: #E8E8E8 !important
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
  background-color: $color-acento-botones !important
  border: 0px
.lista-ul--color.color-primario li > i:first-of-type
    color: $color-primario !important;
.acordion__accion__btn--a 
    background-color: $color-acento-botones !important
.tarjeta.bg-color-5.acordion__activo
    background-color: #E6F9E6 !important
.tabs-a__tab
    background-color: $color-acento-contenido
    color: #fff 
    white-space: normal !important
.tabs-a.color-acento-botones .tabs-a__tab__selected
    background-color: #FFD500;
    color: $color-sistema-texto 
.tabs-a.color-acento-botones .tabs-a__tab:hover, 
.tabs-a.color-acento-botones .tabs-a__tab:active, 
.tabs-a.color-acento-botones .tabs-a__tab:focus 
    background-color: #FFD500;
    color: $color-sistema-texto
.slyder-f__btn i 
    background-color: $color-acento-botones
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
.tabla-a table
    min-width: 600px;
    background-color: #fff !important
.tabla-a th
    background-color: #FFCCE5 !important
.bloque-texto-f.color-acento-contenido:before
    background-color: #CCF2CC !important
.tarjeta--boton.bg-color-12
    background-color: #CCF9FF;
.tarjeta--boton.bg-color-12:active, .tarjeta--boton.bg-color-12:focus, .tarjeta--boton.bg-color-12:hover
    background-color: #CCF2CC 
.tabs-b__tab
    background-color: #E6F9E6;
.tabs-b.color-acento-contenido .tabs-b__tab--active
    background-color: #fff;

.tabs-b__tab--active .tabs-b__tab__icon img
    filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(5327%) hue-rotate(270deg) brightness(107%) contrast(127%);
.tabs-c__content-item
    background-color: #FFE6F2;
.tabs-c__header
    margin-bottom: 0px !important
.tabs-c
    border-bottom: 0px !important
.tabs-c.color-acento-contenido .tabs-c__tab--active
  font-weight: bold !important
.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number,
.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #E6CCFF 
    color: $color-sistema-texto
.linea-tiempo-d__item__number,
.linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #FF99CC
.tarjeta.tarjeta--azul.acordion__activo
  background-color: #CCF2CC !important
.acordion .tarjeta--azul
    background-color: #99F2FF;
/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.bg-fondo
  &-1
    background-image: url("../assets/curso/temas/bg/1.svg") !important
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    border-radius: 45px;
  &-2
    background-image: url("../assets/curso/temas/bg/3.svg") !important
    background-position: bottom
  &-3
    background-image: url("../assets/curso/temas/t2/48.svg") !important
    background-position: center
    background-size: cover
    background-repeat: no-repeat
  &-4
    background-image: url("../assets/curso/temas/bg/4.svg") !important
    background-position: center
    background-size: cover
    background-repeat: no-repeat
.p-full-width
  padding: 3rem 2.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-color
  &-1
    background-color: #E6F9E6 !important
  &-2
    background-color: #fff
  &-3
    background-color: #FFE6F2
  &-4
    background-color: #E6FCFF
  &-5
    background-color: #CCF9FF
  &-6
    background-color: #ccf9ff
    border-radius: 20px !important
    width: fit-content !important
  &-7
    background-color: #99F2FF
  &-8
    background-color: $color-acento-contenido
  &-9
    background-color: #0AC675
  &-10
    background-color: #9AE59A
    width: fit-content !important
  &-11
    background-color: #F3E6FF
  &-12
    background-color: #CCF2CC
  &-13
    background-color: #fff
    width: fit-content !important
  &-14
    background-color: #CCF2CC
    width: fit-content !important
  &-15
    background-color: $color-primario
    width: fit-content !important
  &-16
    background-color: #9AE59A
  &-17
    background-color: #E6CCFF
  &-18
    background-color: #E8E8E8
  &-19
    background-color: #8000FF
    width: fit-content !important
    color: #fff !important

.w-fit
  width: fit-content !important
.br
  &-1
    border-radius: 10px !important
  &-2
    border-radius: 10px
    border: 1px #017301 solid
  &-4
    border-radius: 25px !important
  &-5
    border-radius: 5px !important
.ml-cus
  &-1
    margin-left: 30px !important
  &-2
    margin-top: 50px !important    
.hcard
  &-1
    height: 750px !important
  &-2
    height: 420px !important
  &-3
    height: 380px !important
  &-4
    height: 960px
  &-5
    height: 340px !important
  &-6
    height: 330px !important
.wcus
  &-1
    width: 30% !important
  &-2
    width: 42% !important    
  &-3
    width: 15%
  &-4
    width: 6%
  &-5
    width: 20%
  &-6
    width: 15%
  &-7
    width: 30%
  &-9
    width: 50%
.pcus
  &-1
    padding-top: 3rem !important;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  &-2
    padding-left: 4rem !important;
  &-4
    padding-top: 1rem !important;
  &-5
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  &-6
    padding-right: 10rem !important;
    padding-left: 10rem !important;
  &-7
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  &-8
    padding: 1.5rem !important;
.text-left
  text-align: left !important
.text-right-cus
  text-align: right !important
.tit-cus
  &-1
    color: #FFD500 !important
  &-2
    color: $color-sistema-texto !important
  &-3
    font-size: 84px
    font-weight: 700
  &-4
    font-size: 40px
    font-weight: 700
.card-cus
  border: 2px #0AC675 solid
  background-color: #fff
  border-radius: 20px !important
.titulo-icono
  background-color: $color-acento-contenido
  border-radius: 30px
  width: fit-content
  position: relative;
  left: 12px;
  &-text
    margin-right: 10px
    margin-left: 50px;
    color: $white
  &-img
    padding: 0px
    position: absolute
    top: -30px


    &:before
      position: relative
      border-bottom-right-radius: 40px
      @media screen and (max-width: 767px)
        height: 280%
    img
      position: relative
      max-width: 50px

.titulo-icono-b
  
  position: relative;
  &-text
    background-color: #E6F9E6
    border-radius: 5px
    margin-right: 10px
    margin-left: 30px;
    padding-left: 3rem
    
  &-img
    padding: 0px
    position: absolute
    top: 18px


    &:before
      position: relative
      border-bottom-right-radius: 40px
      @media screen and (max-width: 767px)
        height: 280%
    img
      position: relative
      max-width: 70px
table.table-cus td
    padding: 8px 15px;
.fraction 
    display: inline-block;
    text-align: center;
    margin-left: 1rem;
  
.numerator 
  border-bottom: 1px solid #000;
  display: block;

.denominator 
  display: block;

.tarjeta-avatar-cus
    height: 100%;
    position: relative;
    margin-bottom: 3rem
.tarjeta-avatar-cus > img
    display: inline-block;
    height: 100%;
    margin-left: 45%
    margin-top: 3%
    width: 55%;
.tarjeta-avatar-cus .tarjeta 
    position: absolute;
    transform: translateX(-50%);
    left: 31%;
    display: block;
    margin: 0 auto;

mn
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    line-height: 1.2;
    margin: 10px 0 10px;
    color: #12263F;
    font-size: 1em;    

/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 
  .tarjeta-avatar-cus
    height: 100%;
    position: relative;
    margin-bottom: 3rem
  .tarjeta-avatar-cus > img
      display: inline-block;
      height: 100%;
      margin-left: 53%
      width: 55%;
      margin-top: 4%

  .tarjeta-avatar-cus .tarjeta 
      left: 25%;
      top: -14.5%
  .figcaption-cus
    font-size: 10px
//// TABLET 992--------------------------------------
@media screen and (max-width: 1200px)
  .mb-cus
    margin-bottom: 2em  !important  
  .tarjeta-avatar-cus
    height: 100%;
    position: initial;
    margin-bottom: -7rem

  .tarjeta-avatar-cus > img
      display: none
  .tarjeta-avatar-cus .tarjeta 
      position: initial;
      transform: none
      left: 0
      display: block;
      margin: 0 auto;
  .pcus
    &-8
      padding-right: 0rem !important;
      padding-left: 0rem !important;
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .slyder-f__btn i 
    width: 40px;
    height: 30px;
    font-size: 1rem;

  .hcard
    &-2, &-4, &-3
      height: auto !important
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 98% !important
  .wcus
    &-8
      width: 30%
    &-9
      width: 100%
//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important

  .titulo-icono, .titulo-icono-b
    left: 0px;
    &-text
      margin-left: 10px;
      padding-left: 10px;
    &-img
      display: none !important
  .pcus
    &-1
      padding-top: 0rem !important;
      padding-right: 0rem !important;
      padding-left: 0rem !important;
    &-2
      padding-left: 0.8rem !important;
    &-3
      padding-right: 1rem !important;
      padding-left: 1rem !important;
    &-4
      padding-top: 0rem !important;
    &-5
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    &-6
      padding-right: 1rem !important;
      padding-left: 1rem !important;
    &-7, &-8
      padding-right: 0rem !important;
      padding-left: 0rem !important;
  .slyder-f__btn i 
    width: 40px;
    height: 30px;
    font-size: 1rem;
  
  .hcard
    &-2, &-4, &-5, &-6
      height: auto !important
  .bg-full-width 
    margin-inline: -1.3rem;
  .text-right-cus
    text-align: center !important
  .wcus
    &-8
      width: 50%
    &-9
      width: 100%
  .tarjeta-avatar-cus
    height: 100%;
    position: initial;
    margin-bottom: -7rem

  .tarjeta-avatar-cus > img
      display: none
  .tarjeta-avatar-cus .tarjeta 
      position: initial;
      transform: none
      left: 0
      display: block;
      margin: 0 auto;